.table-container {
    width: 100%;
    margin: 20px 0;
}

.table-container h3 {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.live-data {
    background-color: #e0e0e0;
    border-radius: 12px;
    padding: 2px 8px;
    font-size: 0.9em;
}

table {
    width: 100%;
    border-collapse: collapse;
}
table thead{
    position: sticky;
    top: 0;
    /* background-color: var(--table-header-color); */
    z-index: 1; 
}
table thead th {
    /* background-color: var(--table-header-color); */
    color: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-collapse: separate;
}

table tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table tbody tr:hover {
    background-color: #f9f9f9;
}

table tbody tr td span.pending {
    color: #ff9800;
}

table tbody tr td span.paid {
    color: #4caf50;
}

table tbody tr td span {
    padding: 4px 8px;
    border-radius: 12px;
    font-size: 0.9em;
    font-weight: bold;
    display: inline-block;
}