.employee-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
}

.employee-form section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.employee-form section h1 {
    width: 93%;
    font-size: 0.9vw;
}

.employee-info {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.employee-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.employee-info-upper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.employee-info-lower {
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;
}

.employee-info-inner {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

.employee-info-inner input,
.employee-info-inner select {
    display: block;
    /* width: 30vw; */
    height: 4vh;
    border-radius: 5px;
    border: 1px solid var(--input-border-color);
    margin-bottom: 3vh;
    padding: 1px 10px;
    font-weight: 700;
    transition: .3s all;
    outline: none;
}

.employee-info-inner input:focus,
.employee-info-inner select:focus {
    border: 2px solid var(--hoverText-color);
}

label {
    font-weight: 600;
    font-size: 0.8vw;
    color: var(--text-color);
}

button.add {
    background-color: var(--success-button-color);
    color: white;
    border: none;
    padding: 0.6vw 1.4vw;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1vw;
}

button.cancel {
    background-color: var(--fail-button-color);
    color: white;
    border: none;
    padding: 0.6vw 1.4vw;
    border-radius: 4px;
    cursor: pointer;
}

.back-button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
    align-items: center;
}

.back-button svg {
    margin-right: 8px;
}

h2 {
    text-align: center;
}

.employee-main {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background-color: white;
}

.employee-buttons {
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-content: center;
}

.empImage img {
    width: 2.7vw;
    height: 2.7vw;
    border-radius: 50px;
    object-fit: cover;
    padding: 5px;
    border: 0.7px solid #7341DA;
}

button.toggle-button {
    width: 10%;
}

/* button.toggle-button.active {
    width: 25%;
} */
/* 
.employee-cards{
    display: flex;
    gap: 2vw;
    justify-content: space-evenly;
    align-items: baseline;
    flex-wrap: wrap;
}
.card-employee{
    width: 20% !important;
    height: 50vh;
    text-align: center;
} */



.employee-add-button {
    width: 15%;
}

@media only screen and (min-width: 701px) and (max-width: 1047px) {
    button.toggle-button {
        width: 10% !important;
    }

    .employee-add-button {
        width: 35% !important;
    }
}

.employee-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.card-employee {
    /* border: 1px solid #ddd; */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(180 33 255 / 10%);
    /* width: calc(33.333% - 1rem); */
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-image {
    width: 2.7vw;
    height: 2.7vw;
    border-radius: 50px;
    object-fit: cover;
    padding: 5px;
    border: 0.7px solid #7341DA;
}

/* .card-body {
    margin-top: 1rem;
  } */

.card-actions button {
    margin-right: 0.5rem;
}
.card-body h3, .card-body p {
    margin: 0;
}
.card-body{
    width: 20%;
}
.image-name{
    display: flex;
    gap: 1vw;
    width: 40%;
}

.tooltip{
    display: none;
    transition: .3s ease-in-out;
}
.card-table-toggle button:hover .tooltip {
    transition: .3s ease-in-out;
    display: unset;
}
.card-table-toggle button.active .tooltip {
    transition: .3s ease-in-out;
    display:unset;
}
button.toggle-button {
    /* border: none; */
    font-size: 1vw;
    /* background: transparent; */
}
.card-header{
    background-color: #f4f4f4;
    color: var(--text-color);
    font-size: var(--table-text-font);
    font-weight: 700;
    padding: 0.5rem;
    padding-left: 1vw;
}
.add-delete-emp{
    display: flex;
    width: 60%;
    justify-content: end;
}
@media only screen and (max-width:1070px){
    .add-delete-emp{
        display: flex;
        width: 100%;
        justify-content: end;
    }
}
@media only screen and (max-width:700px){
    
    .employee-add-button {
        width: 100%;
    }
    .employee-upper{
        flex-direction: column;
        padding: 2vw;
    }
    .employee-form section h1{
        font-size: 2.9vw;
    }
    label {
        font-size: 2.8vw;
    }
    .employee-info-inner input{
        width: 100%;
    }
    .employee-info-inner select{
        width: 107%;
    }
    .employee-info-inner{
        width: 90%;
        gap: 2vh;
    }
    .employee-buttons{
        margin-bottom: 2vh;
    }
    .empImage img{
        width: 12vw;
        height: 12vw;
        border-radius: 50px;
        padding: 2px;
        margin: auto;
        display: block;
    
    }
    .card-body h3, .card-body p{
        font-size: smaller;
        text-align: center;
    }
    .card-employee{
        gap: 1vw;
        flex-direction: column;
        text-wrap: nowrap;
    }
    .image-name{
        width: 30%;
        flex-direction: column;
    }
    .card-header{
        display: none;
    }
    .card-body{
        width: 50%;
    }
    #button-webcam{
        display: none;
    }
  
}

.crop-container {
    position: relative;
    width: 100%;
    height: 300px; /* Adjust height */
    background: #333;
  }

  .reactEasyCrop_Container {
    background: #7670EB;
    
}



.bulk-upload-container {
    margin: 20px;
    border: 1px solid #ddd;
    padding: 15px;
  }
  
  .editable-table-container {
    overflow-x: auto;
    max-height: 60vh;
  }
  
  .editable-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .editable-table th, .editable-table td {
    border: 1px solid #ddd;
    padding: 8px;
    min-width: 120px;
  }
  
  .editable-table input {
    width: 100%;
    box-sizing: border-box;
  }
  
  .bulk-upload-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  .bulk-add-form input, .bulk-add-form select{
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 5px;
    outline: none;
    border: 1px solid #ddd;
  }
  /* .bulk-multi-select{
    width: 100%;
  } */

@media only screen and (max-width:1000px){
    .bulk-add-btns input{
        border: 1px solid #333 ;
        background-color: #935dff;
        color: white;
        padding: 5px;
        border-radius: 5px;
    }
    .bulk-upload-header{
        flex-direction: column;
       } 
    .bulk-add-btns{
        display: flex;
        gap: 5px;
        flex-direction: column;
    }
}
