/* webcamModal.css */
.modal-overlay {
    position: fixed;
   
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    /* Make sure the modal is on top of everything */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* width: 100%; */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.webcam-buttons{
    align-items: center;
    justify-content: center;
    height: 6vh;
    display: flex;
    flex-direction: row;
    gap: 3vw;
}
.webcam-buttons button{
    background-color:var(--theam-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}