.modal-overlay-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }
  
  .modal-content-modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 14%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.modal-content-modal svg{
  width: 40%!important;
}

  
  .modal-buttons-modal {
    display: flex;
    justify-content: space-around;
  }
  
  .confirm-button,
  .cancel-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirm-button {
    background: green;
    color: white;
  }
  
  .cancel-button {
    background: red;
    color: white;
  }
  