.logo{
    height: 7vh;
    padding: 4%;
    text-align: start;
}
.sidebar {
    width: 14%;
    background-color: var(--sidebar-color);
    color:var(--text-bg);
    height: 100%;
    transition: transform 0.3s ease-in-out;
    border-right: 2px solid #eeeeee;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.sidebar-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8vh;
}

.menu-item {
    position: relative;
    background: none;
    border: none;
    width: 90%;
    padding: 7px 20px;
    font-size: var(--sidebar-font);
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight:600;
    transition: background-color 0.3s ease;
    color:var(--text-color);
}

.menu-item:hover {
    background-color:var(--hover-color);
    color:var( --hoverText-color);
}

.submenu {
    overflow: hidden; 
    transition: max-height 1.3s ease;
    list-style: none; 
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.6vh;
    width: 80%;
}
.submenu-item:hover{
    background-color:var(--hover-color);
    color:var( --hoverText-color);
}

.menu-item.active, .submenu-item.active, .footer-item.active {
    color:var(--hoverText-color);
    background-color: var(--hover-color);
    border-radius: 5px;
    height: 5vh;
}

.menu-item.active .sidebar-icon,
.submenu-item.active .sidebar-icon,
.footer-item.active .sidebar-icon {
    color:var(--hoverText-color);
}

.submenu-item {
    background: none;
    border: none;
    width: 100%;
    font-weight: 600;
    height: 3.5vh;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease;
    font-size: var(--sidebar-font);
    color:var(--text-color);
}
.sidebar-icon{
    width: 1vw;
    height: 2vh;
}
.sidebar-footer {
    margin-top: auto;
}
.arrow-icon{
    position: absolute;
    right: 20%;
    height: 1.2vh;
}
.footer-item {
    background: none;
    border: none;
    width: 100%;
    padding: 10px 20px;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1vw;
    transition: background-color 0.3s ease;
    font-size: var(--sidebar-font);
    color:var(--text-color);
}

.footer-item:hover {
    background-color:var(--hover-color);
    color: var( --hoverText-color);
}

/* Responsive Design */
@media (max-width: 700px) {
    .sidebar {
        transform: translateX(-100%);
        position: absolute;
    }

    .sidebar.active {
        transform: translateX(0);
    }
}
@media (min-width: 700px) and (max-width:1000px) {
    .sidebar{
        width: 20%;
    }
    .sidebar-menu{
        margin-top: 10%;
    }
    .menu-item{
        padding: unset;
        gap: 0.4vw;
    }
    .submenu{
        width: 95%;
        gap: 0vw;
    }
    .submenu-item{
        gap: 0.4vw;
        padding: unset;
        width: 80%;
    }
    .sidebar-menu{
        gap: 2.2vh;
    }
    .sidebar-icon{
        width: 2vw;
    }
    .footer-item{
        justify-content: space-evenly;
        width: unset;
    }
    .footer-item svg{
        height: 2vh;
        width: 2vw;
    }
 
    .arrow-icon {
        right: 0;
        height: 1.6vh;
    }
}
@media (min-width: 1001px) and (max-width:1300px) {
    .sidebar{
        width: 20%;
    }
    .sidebar-menu{
        margin-top: 10%;
        gap: 1vh;
    }
    .menu-item{
        padding: 5px 5px;
    }
    
    .sidebar-menu{
        padding: auto;
    }
    .sidebar-icon{
        width: 2vw;
    }
    .footer-item{
        justify-content: space-evenly;
        width: unset;
    }
    .footer-item svg{
        height: 2vh;
        width: 2vw;
    }
    .arrow-icon {
        right: 0;
        height: 1.6vh;
    }
}
