.dashboard {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    background-color:var(--app-color);
}

.dashboard-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 88%;
    transition: margin-left 0.3s ease-in-out;
}

.main-content {
    flex: 1;
    padding: 1%;
    overflow-y: scroll; /* Enables vertical scrolling */
    scrollbar-width: none; /* Firefox: Hides scrollbar */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* WebKit browsers: Chrome, Safari, and newer versions of Edge */
.main-content::-webkit-scrollbar {
    display: none;
}

.dashboard-main{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.dashboard-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.dashboard-graphs{
    display: flex;
    flex-direction: row;
    gap: 1vw;

}
.prefomance-graph{
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 70%;
}
.dashboard-table{
    width: 96%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 16px;
}
/* Responsive Design */
@media (max-width: 768px) {
    .dashboard-content {
        margin-left: 0;
    }
}