:root {
  --primary-color: #5f8053;
  --secondary-color: #d5e9be;
  --sidebar-color: #FFFFFF;
  --app-color: #F7F8FA;
  --hover-color: #EDF5FC;
  --hoverText-color: #7341DA;
  --theam-color: #7341DA;
  --after-border-radius: #7341DA;
  --button-color: white;
  --success-button-color: #67b8b1;
  --fail-button-color: #ffffff;
  --button-hover-color: #7670eb;
  --table-header-color: #f4f4f4;
  --table-data-color: white;
  --table-text-color: black;
  --pagination-text: #333;
  --shadow-color: rgba(0, 0, 0, 0.541);
  --text-color: #4e4e4e;
  --background-color: #f0f0f0;
  --border-color: #d4d2d2;
  --input-border-color: #e0e0e0;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  --font-size: 0.9vw;
  --headerFont-size: 0.8vw;
  --inner-border-color: #7341DA;
  --pagination-hover-color: black --timing: 0.3s;
  --width-of-input: 300px;
  --height-of-input: 40px;
  --border-height: 2px;
  --input-bg: #fff;
  --border-radius: 30px;
  --after-border-radius: 1px;
  --bold-font: 900;
  --table-text-font: 0.6vw;
  --icon-size: 1vw;
  --sidebar-font: 0.8vw;
  --sidebar-font-dropdown: 0.73vw;
  --sidebar-bg: #ffffff;
  --accessible-items-font: 14px;
  --delete-svg-color: #ff4c74;
  --edit-svg-color: #7670eb;
  --tabs-button: white;
  --tabs-button-hover: rgb(239 207 255 / 35%);
  --card-text: #111827;
  --card-header: #6b7280;
  --card-icon: #9ca3af;
  --chart-title: #1f2937;
  --border: #eeeeee;
  --form-bg: #f9f9f9;
  --form-inputs: white;
  --picker-icon-filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg);
  --time-input: #495057;
  --month-text: #2c3e50;
  --slip-preview: #f8f9fa;
  --slip-preview-text: #666;
  --payroll-ques: #f9f9f9;
  --logout-modal: rgba(255, 255, 255, 0.9);
  --logout-modal-hovers: #f0f0f0;
  --present-status-text: #17a136;
  --present-status-bg: #d4edda;
  --absent-status-text: #cf0013;
  --absent-status-bg: #ffa8bd;
  --late-status-text: #bf0450;
  --late-status-bg: #fdbaca;
  --globe: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.22.21-1.8l3.79 3.79v.01c.32 1.25 1.5 2.17 2.88 2.2l.12.73zm6.9-6.01c.01.01.01.02.01.03 0 .9-.36 1.71-.93 2.29L13.3 9.7l3.6-3.6c.6.74.98 1.69.98 2.77 0 1.04-.3 2.01-.78 2.85zm-7.77-6.84c-.63-.63-.19-1.75.7-1.75H11v.99L9.13 7.08zm8.07.92l.7.7c1.16 1.19 1.82 2.81 1.82 4.6 0 3.2-2.56 5.79-5.74 5.97v-.99c.75-.01 1.47-.29 2.04-.78L10.58 6.41zm-.71 1.06c-.29.29-.77.29-1.06 0L11 7v1.05c.39.39 1.02.39 1.41 0l.88-.88zM4.05 11H2.03c.02-3.94 3.07-7.12 6.99-7.81V5.9l-2.07 2.07L4.05 11z" fill="%23000000"/%3E%3C/svg%3E') no-repeat center center
}

body.dark-mode {
  --primary-color: #a8cfa3;
  --secondary-color: #2c3a2a;
  --sidebar-color: #1c1c1c;
  --app-color: #121212;
  --hover-color: #2a2a2a;
  --hoverText-color: #936eff;
  --theam-color: #9d77ff;
  --after-border-radius: #9f7ff3;
  --button-color: #1e1e1e;
  --success-button-color: #2d6f6a;
  --fail-button-color: #2a2a2a;
  --button-hover-color: #695eff;
  --table-header-color: #1f1f1f;
  --table-data-color: #2a2a2a;
  --table-text-color: white;
  --pagination-text: #d6d6d6;
  --shadow-color: rgba(255, 255, 255, 0.15);
  --text-color: #e6e6e6;
  --background-color: #121212;
  --input-border-color: #2e2e2e;
  --border-color: #333333;
  --input-border-color: #444444;
  --box-shadow: 0 4px 8px rgba(255, 255, 255, 0.05);
  --inner-border-color: #9f7ff3;
  --pagination-hover-color: white;
  --timing: 0.3s;
  --input-bg: #1e1e1e;
  --sidebar-bg: #1c1c1c;
  --delete-svg-color: #ff4c74;
  --edit-svg-color: #a8a2ff;
  --tabs-button: #1e1e1e;
  --tabs-button-hover: rgb(239 207 255 / 15%);
  --card-text: #d7e3ff;
  --card-header: #c8bafa;
  --card-icon: #c9ced6;
  --chart-title: #ffffff;
  --border: #292424;
  --form-bg: #2a2a2a;
  --form-inputs: rgb(22, 22, 22);
  --picker-icon-filter: invert(100%) sepia(67%) saturate(635%) hue-rotate(230deg);
  --time-input: white;
  --month-text: #f7fbff;
  --slip-preview: var(--table-data-color);
  --slip-preview-text: white;
  --payroll-ques: var(--table-data-color);
  --logout-modal: rgba(0, 0, 0, 0.5);
  --logout-modal-hovers: #2e2e2e;
  --present-status-text: #17a136;
  --present-status-bg: #103b1a;
  --absent-status-text: #cf0013;
  --absent-status-bg: #4f2630;
  --late-status-text: #bf0450;
  --late-status-bg: #492029;
  --globe: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"%3E%3Cpath d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm-1 17.93c-3.95-.49-7-3.85-7-7.93 0-.62.08-1.22.21-1.8l3.79 3.79v.01c.32 1.25 1.5 2.17 2.88 2.2l.12.73zm6.9-6.01c.01.01.01.02.01.03 0 .9-.36 1.71-.93 2.29L13.3 9.7l3.6-3.6c.6.74.98 1.69.98 2.77 0 1.04-.3 2.01-.78 2.85zm-7.77-6.84c-.63-.63-.19-1.75.7-1.75H11v.99L9.13 7.08zm8.07.92l.7.7c1.16 1.19 1.82 2.81 1.82 4.6 0 3.2-2.56 5.79-5.74 5.97v-.99c.75-.01 1.47-.29 2.04-.78L10.58 6.41zm-.71 1.06c-.29.29-.77.29-1.06 0L11 7v1.05c.39.39 1.02.39 1.41 0l.88-.88zM4.05 11H2.03c.02-3.94 3.07-7.12 6.99-7.81V5.9l-2.07 2.07L4.05 11z" fill="%23ffffff"/%3E%3C/svg%3E') no-repeat center center;
}

.login-signup-form-heading{
  color: black !important;
}



input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  color: var(--table-text-color);
  /* Changes the SVG icon color */
  cursor: pointer;
  filter: var(--picker-icon-filter);
  /* For custom color */
}

.css-13cymwt-control,
.css-t3ipsp-control,
.css-rnyjni,
.css-1nmdiq5-menu,
.css-qr46ko {
  background-color: var(--form-inputs) !important;
  box-shadow: 0 0 0 1px #775dad !important;
}

.css-d7l1ni-option {
  background-color: #775dad !important;
  color: white !important;
}

.css-t3ipsp-control:hover {
  border-color: unset;
}

.css-10wo9uf-option {
  color: var(--table-text-color) !important;
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--table-text-color);
}

@media only screen and (max-width:1300px) {
  :root {
    --width-of-input: 200px;
    --height-of-input: 30px;
    --icon-size: 1.5vw;
  }

  .add-button {
    font-size: x-small;
  }
}

@media only screen and (min-width:700px) and (max-width:800px) {
  :root {
    --table-text-font: 1.6vw;
  }

}

@media only screen and (min-width:801px) and (max-width:900px) {
  :root {
    --table-text-font: 1.4vw;
  }
}

@media only screen and (min-width:901px) and (max-width:1000px) {
  :root {
    --table-text-font: 1.2vw;
  }
}

@media only screen and (min-width:1001px) and (max-width:1300px) {
  :root {
    --table-text-font: 1vw;
  }
}

@media only screen and (min-width:1301px) and (max-width:1500px) {
  :root {
    --table-text-font: 0.9vw;
  }
}

@media only screen and (min-width:700px) and (max-width:1000px) {
  :root {
    --sidebar-font: 1.3vw
  }
}

@media only screen and (min-width:1001px) and (max-width:1300px) {
  :root {
    --sidebar-font: 1.3vw
  }
}

@media only screen and (max-width:700px) {
  :root {
    --sidebar-font: 0.7rem;
    --sidebar-font-dropdown: 1vw;
    --table-text-font: 0.8rem;
    --headerFont-size: 4.5vw;
    --icon-size: 3.5vw;
    --width-of-input: 90%
  }
}

.break-table {
  margin: 6vh 0;
}

.icons-box {
  display: flex;
  justify-content: center;
}

.bold-fonts {
  font-weight: var(--bold-font);
}

.captured-image-container img {
  width: 35%;
  height: auto;
}

.presentStatus {
  background-color: var(--present-status-bg);
  color: var(--present-status-text);
}

.absentStatus {
  background-color: var(--absent-status-bg);
  color: var(--absent-status-text);
}

.lateStatus {
  background-color: var(--late-status-bg);
  color: var(--late-status-text);
}

.status {
  display: inline-block;
  padding: 3px 6px;
  border-radius: 3px;
}

table thead th {
  position: sticky;
  top: 0;
  background-color: var(--table-header-color) !important;
  background-color: #f4f4f4;
  z-index: 1;
}

.App {
  text-align: center;
}

* {
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  top: 0 !important;

}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.baandar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.baandar img {
  width: 7%;
}

.report-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.date-search {
  /* width: 100%; */
  display: flex;
  margin-left: 10vw;
  /* flex-wrap: wrap; */
  justify-content: space-evenly;
}

.date-search input {
  /* width: 90%; */
  background-color: var(--form-inputs);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin: 0 0.5vw 0 0.3vw;
}

.date-search select {
  width: auto;
  background-color: var(--form-inputs);
  color: var(--table-text-color);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  margin: 0 0.5vw 0 0.3vw;
}

/* @media only screen and (max-width:700px) {
  .date-search input {
    width: 100%;
    margin: 0 10%;
    display: flex;
    flex-direction: column;
  }

  .date-search {
    margin-bottom: 2vh;
  }
} */


input[type="checkbox"]#delete-checkbox::before {
  content: unset;

}

input[type="checkbox"]#delete-checkbox {
  appearance: auto;
  accent-color: var(--button-hover-color);
  width: unset;
  height: unset;
}

.live-data {
  background-color: var(--input-border-color);
  border-radius: 12px;
  padding: 2px 8px;
  font-size: 0.9em;
}

.table-container {
  width: 100%;
  /* margin: 20px 0; */
}

.table-container h3 {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  color: var(--table-text-color);
}

#google_translate_element {
  position: absolute;
  bottom: 0;
  right: 0;
  /* background-color: #E3E3E3; */
  border-radius: 50%;
  color: transparent !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

#google_translate_element a {
  display: none;
}

.goog-te-combo {
  font-weight: 900;
  padding: 0.5rem;
  width: 2.2rem;
  height: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  appearance: none;
  background-color: #fff;
  background: var(--globe);
  background-size: 2.2rem;
  border: none;
}

/* Adjust for tablet devices */
@media (max-width: 768px) {
  .goog-te-combo {
    padding: 0.6rem;
    width: 2.8rem;
    height: 2.8rem;
    background-size: 2.8rem;
  }
}

/* Adjust for mobile devices */
@media (max-width: 480px) {
  .goog-te-combo {
    padding: 0.7rem;
    width: 3.2rem;
    height: 3.2rem;
    background-size: 3.2rem;
  }
}

.goog-te-combo:focus {
  border: 3px solid #7145DA !important;

}

.goog-te-combo:focus-visible {
  border: 1px solid #7145DA !important;

}

#\:0\.targetLanguage {

  display: flex;
  align-items: center;
  justify-content: center;

}

.goog-te-gadget {
  color: transparent !important;
}

.VIpgJd-ZVi9od-aZ2wEe-wOHMyf.VIpgJd-ZVi9od-aZ2wEe-wOHMyf-ti6hGc {
  display: none;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

iframe#\:1\.container {
  display: none;
}